.battle-chat {
    margin-top: auto;
    gap: 10px;
    &__log {
        @extend .battle__panel;
        height: 236px;
        padding: 15px;
    }
    &__textbox {
        input {
            @extend .battle__panel;
        }
    }
}