.bot-options {
    gap: 15px;
    &__option {
        flex-direction: row;
        align-items: center;
    }
    &__text {
        width: 50%;
    }
    &__description {
        font-size: 14px;
        font-style: italic;
    }
}