.map-preview {
    @extend .battle__panel;
    position: relative;
    &__canvas {
        margin: 10px;
    }
    &__actions {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 15px;
        flex-direction: row;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 0.1s;
    }
    &__box-actions {
        flex-direction: row;
        gap: 2px;
        .btn {
            min-height: unset;
            padding: 5px;
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
        img {
            max-width: 23px;
            image-rendering: pixelated;
            opacity: 0.7;
        }
    }
    &:hover {
        .map-preview__actions {
            opacity: 1;
        }
    }
}