.playerlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &.dragging {
        .playerlist__title,
        .playerlist__participants {
            pointer-events: none;
        }
    }
    &__group {
        position: relative;
        gap: 5px;
        &.highlight {
            &:after {
                @extend .fullsize;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                left: -5px;
                top: -5px;
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }
    &__title {
        font-size: 26px;
    }
    &__participants {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.participant {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    line-height: 52%;
    padding: 6px 8px;
    border-radius: 3px;
    @extend .battle__panel;
    &.dragging {
        pointer-events: auto;
    }
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
    &__flag {
        max-width: 17px;
    }
}