.theme--carbon {
    font-family: Rajdhani, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    --error: #ff5151;
    --warning: #ffe134;
    --success: #b8ff34;

    * {
        cursor: url("~@/assets/images/cursor_default.png"), default !important;
    }

    .layout {
        &--default {
            .view {
                overflow-y: hidden;
                padding: 20px;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 10px;
            }
        }
        &:before {
            @extend .fullsize;
            background: var(--background);
            background-size: cover;
            background-position: center;
            z-index: -1;
            transition: 1s ease-in-out;
        }
    }

    @import "inputs";
    @import "transitions";

    @import "views/login";

    @import "components/background-overlay";
    @import "components/progress";
    @import "components/navbar";
    @import "components/breadcrumbs";
    @import "components/panel";
    @import "components/modal";
    @import "components/alert";
    @import "components/battle";
}