.theme--carbon {
    font-family: Rajdhani, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: #fff;
    --error: #ff5151;
    --warning: #ffe134;
    --success: #b8ff34;

    * {
        cursor: url("~@/assets/images/cursor_default.png"), default !important;
    }

    $flag-icons-path: '~flag-icons/flags';
    @import '~flag-icons/sass/flag-icons.scss';

    @import "inputs";
    @import "text";

    @import "controls/control";
    @import "controls/options";

    @import "components/view";
    @import "components/debug-sidebar";
    @import "components/background";
    @import "components/button";
    @import "components/progress";
    @import "components/navbar";
    @import "components/breadcrumbs";
    @import "components/panel";
    @import "components/modal";
    @import "components/status-info";
    @import "components/tooltip-context-menu";
    @import "components/login";
    @import "components/server-info";
    @import "components/downloads";
    @import "components/settings";
    @import "components/map-canvas";

    @import "components/battle/battle";
    @import "components/battle/playerlist";
    @import "components/battle/chat";

    @import "transitions";
}