button, button * {
    cursor: url("~@/assets/images/cursor_hover.png"), pointer;
}

.control {
    position: relative;
    display: flex;
    flex-direction: row;
}
input, select, label, textarea, button, progress, meter, .btn, .input, .vue-select {
    padding: 5px 10px;
    border-radius: 0px;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    min-height: 35px;
    &:hover, &:focus {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &:disabled {
        background: rgba(255, 255, 255, 0.05);
        color: rgba(255, 255, 255, 0.2);
    }
}
label {
    width: inherit;
    border-right: none;
    white-space: nowrap;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
button, input[type=button], input[type=submit], input[type=checkbox] + label, .btn {
    width: unset;
}
input[type=file] {
    font-size: 13px;
}
option, optgroup {
    background: #111;
}
input[type=date]::-webkit-calendar-picker-indicator,
input[type=week]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

// input[type=text], input[type=email], input[type=password] {
//     &:invalid {
//         border-left: 1px solid rgba(255, 0, 0, 0.4);
//     }
//     &:valid {
//         border-left: 1px solid rgba(123, 255, 0, 0.3);
//     }
// }

.vue-select {
    input, .vue-input {
        font-size: inherit;
        box-shadow: none;
        min-height: inherit;
        padding: 0;
        &::placeholder {
            color: #fff;
        }
    }
    .vue-dropdown {
        z-index: 2;
        background-color: rgba(20, 20, 20, 0.9);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        &-item {
            padding: 5px 10px;
            &.selected {
                background-color: unset;
            }
            &.highlighted {
                background-color: unset;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.9);
                color: #000;
                text-shadow: none;
            }
        }
    }
}