button, button * {
    cursor: url("~@/assets/images/cursor_hover.png"), pointer;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.control {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
    //&.validate {
        // input, select, input[type=checkbox] + label, textarea, .input, .vue-select {
        //     &:invalid {
        //         border-bottom: 1px solid rgba(255, 0, 0, 0.4);
        //     }
        //     &:valid {
        //         border-bottom: 1px solid rgba(123, 255, 0, 0.3);
        //     }
        // }
    //}
}
input, select, label, textarea, button, progress, meter, .btn, .input, .vue-select {
    padding: 5px 10px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    min-height: 35px;
    display: flex;
    align-items: center;
    &::placeholder {
        color : rgba(255, 255, 255, 0.5);
    }
    &:not(label) {
        min-width: 0;
        flex-grow: 1;
    }
    &:hover, &:not(button):focus {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &:disabled {
        background: rgba(255, 255, 255, 0.05);
        color: rgba(255, 255, 255, 0.2);
    }
}
label {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    &:not(input[type=checkbox] + label):hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
label:not(input[type=checkbox] + label) {
    border-right: none;
}
button, input[type=button], input[type=submit], .btn {
    width: unset;
    justify-content: center;
    flex-grow: 1;
}
input[type=file] {
    font-size: 13px;
}
option, optgroup {
    background: #111;
}
input[type=date]::-webkit-calendar-picker-indicator,
input[type=week]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

input[type=text],
input[type=email],
input[type=password] {
    flex-grow: 1;
    width: 0;
}

.vue-select {
    input, .vue-input {
        font-size: inherit;
        box-shadow: none;
        min-height: inherit;
        padding: 0;
        &::placeholder {
            color: #fff;
        }
    }
    .vue-dropdown {
        z-index: 2;
        background-color: rgba(20, 20, 20, 0.9);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        &-item {
            padding: 5px 10px;
            &.selected {
                background-color: unset;
            }
            &.highlighted {
                background-color: unset;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.9);
                color: #000;
                text-shadow: none;
            }
        }
    }
}