@at-root {
    .theme {
        --enter-duration: 400ms;
        --leave-duration: 400ms;
    }
}

.fade-enter-active {
    transition: var(--enter-duration) ease-in-out;
}
.fade-leave-active {
    transition: var(--leave-duration) ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

$dirs: (
    "left": translateX(-15px),
    "right": translateX(15px),
    "above": translateY(-15px),
    "below": translateY(15px)
);

@each $name, $transform in $dirs {
    .slide-#{$name}-enter-active {
        transition: var(--enter-duration) ease-in-out;
    }
    .slide-#{$name}-leave-active {
        transition: var(--leave-duration) ease-in-out;
    }
    .slide-#{$name}-enter-from,
    .slide-#{$name}-leave-to {
        transform: $transform;
        opacity: 0;
    }
}