.preloader-leave-active {
    transition: 0.4s ease-in-out;
}
.preloader-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: 0.4s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.login-enter,
.login-enter-active {
    transition: 1s ease-in-out;
}
.login-enter-from {
    opacity: 0;
    transform: translateY(-20px);
}

.primary-enter-active,
.primary-leave-active {
    transition: 0.1s ease-in-out;
}
.primary-enter-from,
.primary-leave-to {
    opacity: 0;
    transform: translateY(15px);
}

.secondary-enter-active,
.secondary-leave-active {
    transition: 0.1s ease-in-out;
}
.secondary-enter-from {
    opacity: 0;
    transform: translateX(-15px);
}
.secondary-leave-to {
    opacity: 0;
    transform: translateX(15px);
}