.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.login-enter,
.login-enter-active {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.login-enter-from {
    opacity: 0;
    transform: translateY(-20px);
}

.slide-enter-active,
.slide-leave-active {
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translateY(15px);
}