:root {
    --blackish: #080606;
    --black: black;
    --arm: #2ba5ea;
    --core: red;
    --donor: #f56df0;
    --goldenrod: #fdc04c;
    --button-black-alt: #191818;
    --blue-violet: #a41de2;
    --lime: #46ea2b;
    --white: white;
    --unit-bg: #0006;
    --nav-link-grey: #929292;
    --map-tile-size: 320px;
    --map-tile-font: 28px;
    --metal: #c7c7c7;
    --pro: #ff9d00;
    --parallax-top: 0px;
}
