* {
    cursor: url("/src/renderer/assets/images/cursor_default.png"), auto !important;
    a,
    button {
        cursor: url("/src/renderer/assets/images/cursor_pointer.png"), pointer !important;
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
    &::selection {
        background: rgba(255 255 255 / 0.3);
    }
}
:root {
    --background: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
}
#app {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
[draggable] {
    -webkit-user-drag: element;
}
hr {
    background: rgba(255, 255, 255, 0.1);
    height: 1px;
}

// disable pointer events on svg and path elements because they break .contains method used in click-away directive
svg,
path {
    pointer-events: none;
}
