.background {
    @extend .fullsize;
    background: var(--background);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: 1s ease-in-out;
    &__overlay {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        z-index: -1;
        transition: background-color, backdrop-filter 0.4s ease-in-out;
        &.active {
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(5px);
        }
    }
}