.battle {
    height: 100%;
    &__right {
        width: 550px;
    }
    &__panel {
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.map-preview {
    @extend .battle__panel;
    position: relative;
    display: flex;
    aspect-ratio: 1;
    .map-image {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px;
        object-fit: contain;
        image-rendering: pixelated;
    }
}
.map-toolbar {
    @extend .battle__panel;
    width: 100%;
    padding: 10px;
    border-top: none;
}

.playerlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__ally-team {
    }
    &__title {
        font-size: 26px;
    }
    &__players {
        flex-direction: row;
        gap: 10px;
    }
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    line-height: 52%;
    padding: 6px 8px;
    border-radius: 3px;
    @extend .battle__panel;
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
    &__flag {
        max-width: 17px;
    }
}

.battle-chat {
    margin-top: auto;
    gap: 10px;
    &__log {
        @extend .battle__panel;
        height: 236px;
        padding: 15px;
    }
    &__textbox {
        input {
            @extend .battle__panel;
        }
        // .control.textbox {
        //     box-shadow: none;
        // }
        // input {
        //     border: none;
        //     background: none;
        // }
    }
}