@use "sass:color";

$btnColors: (
    "blue": rgb(14, 109, 199),
    "red": rgb(199, 14, 14),
    "green": rgb(120, 189, 57),
    "yellow": rgb(199, 199, 14),
    "purple": rgb(199, 14, 199),
    "orange": rgb(199, 109, 14),
    "black": rgb(0, 0, 0),
    "white": rgb(255, 255, 255),
    "gray": rgb(128, 128, 128)
);

button, .btn, .button {
    @each $colorKey, $color in $btnColors {
        &--#{$colorKey} {
            background-color: rgba($color, 0.6);
            border-color: rgba(255, 255, 255, 0.15);
            box-shadow: 1px 1px 3px rgba(49, 47, 47, 0.1), inset 0 -17px 0 rgba(0, 0, 0, 0.05);
            &:hover {
                background-color: rgba($color, 0.8);
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), inset 0 -17px 0 rgba(0, 0, 0, 0.05);
            }
        }
    }

    font-weight: 500;

    &.slim .btn{
        padding: 1px 7px;
        min-height: unset;
        align-self: center;
        border-radius: 2px;
        font-size: 16px;
    }
}