.modal-container {
    @extend .fullsize;
    z-index: 10;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, backdrop-filter 0.2s;
}
.modal {
    flex-grow: 0;
}