.modal-container {
    @extend .fullsize;
    z-index: 10;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, backdrop-filter 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
.modal {
    flex-grow: 0;
}