.progress {
    --progress: 0%;
    .bar {
        position: relative;
        width: 100%;
        height: 35px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    }
    .current {
        width: var(--progress);
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
    }
}