.server-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 0 10px;
    &__players {
        //font-size: 16px;
    }
    &__status {
        font-size: 12px;
        color: rgb(121, 226, 0);
    }
}