.popper {
    --popper-theme-background-color: rgba(0, 0, 0, 0.4);
    --popper-theme-padding: 8px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
    --popper-theme-border-radius: 3px;
    --popper-theme-border-color: rgba(255, 255, 255, 0.2);
    --popper-theme-border-style: solid;
    --popper-theme-border-width: 1px;
}