.tooltip, .context-menu {
    .popper {
        overflow: hidden;
        background-color: #0c0c0c;
        padding: 8px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        border-color: rgba(255, 255, 255, 0.07);
        border-style: solid;
        border-width: 1px;
        backdrop-filter: blur(2px);
        font-size: 16px;
        z-index: 2;
    }
}

.context-menu {
    .popper {
        padding: 0;
    }
    &__entry {

    }
    &__label {
        padding: 10px;
        &:hover {
            background-color: #ddd;
            color: #000;
            text-shadow: none;
        }
    }
}