/***************************/
/***** Theme switcher ******/
/***************************/

// vendored from https://github.com/argyleink/gui-challenges/blob/main/theme-switch

@import"https://unpkg.com/open-props/easings.min.css";

.sun-and-moon>:is(.moon,.sun,.sun-beams) {
 transform-origin:center center
}
.sun-and-moon>:is(.moon,
.sun) {
 fill:var(--icon-fill)
}
.theme-toggle:is(:hover,
:focus-visible)>.sun-and-moon>:is(.moon,
.sun) {
 fill:var(--icon-fill-hover)
}
.sun-and-moon>.sun-beams {
 stroke:var(--icon-fill);
 stroke-width:2px
}
.theme-toggle:is(:hover,
:focus-visible) .sun-and-moon>.sun-beams {
 stroke:var(--icon-fill-hover)
}
[data-theme=dark] .sun-and-moon>.sun {
 transform:scale(1.75)
}
[data-theme=dark] .sun-and-moon>.sun-beams {
 opacity:0
}
[data-theme=dark] .sun-and-moon>.moon>circle {
 transform:translate(-7px)
}
@supports (cx: 1) {
 [data-theme=dark] .sun-and-moon>.moon>circle {
  transform:translate(0);
  cx:17
 }
}
@media (prefers-reduced-motion: no-preference) {
 .sun-and-moon>.sun {
  transition:transform .5s var(--ease-elastic-3)
 }
 .sun-and-moon>.sun-beams {
  transition:transform .5s var(--ease-elastic-4),opacity .5s var(--ease-3)
 }
 .sun-and-moon .moon>circle {
  transition:transform .25s var(--ease-out-5)
 }
 @supports (cx: 1) {
  .sun-and-moon .moon>circle {
   transition:cx .25s var(--ease-out-5)
  }
 }
 [data-theme=dark] .sun-and-moon>.sun {
  transform:scale(1.75);
  transition-timing-function:var(--ease-3);
  transition-duration:.25s
 }
 [data-theme=dark] .sun-and-moon>.sun-beams {
  transform:rotate(-25deg);
  transition-duration:.15s
 }
 [data-theme=dark] .sun-and-moon>.moon>circle {
  transition-delay:.25s;
  transition-duration:.5s
 }
}
.theme-toggle {
 --size: 2rem;
 --icon-fill: hsl(210 10% 30%);
 --icon-fill-hover: hsl(210 10% 15%);
 background:none;
 border:none;
 padding:0;
 inline-size:var(--size);
 block-size:var(--size);
 aspect-ratio:1;
 border-radius:50%;
 cursor:pointer;
 touch-action:manipulation;
 -webkit-tap-highlight-color:transparent;
 outline-offset:5px
}
.theme-toggle>svg {
 inline-size:100%;
 block-size:100%;
 stroke-linecap:round
}
[data-theme=dark] .theme-toggle {
 --icon-fill: hsl(210 10% 70%);
 --icon-fill-hover: hsl(210 15% 90%) 
}
@media (hover: none) {
 .theme-toggle {
  --size: 48px 
 }
}

// unvendored do not remove
html[data-theme="dark"] button.theme-toggle, button.theme-toggle {
  height: 100%;
  margin: 0 1rem;
}

/***************************/
/***** Custom Stuff ********/
/***************************/


.aux-nav, html[data-theme="dark"] .aux-nav {
    padding-right: 0;
}

.aux-nav-img img {
    filter: invert(27%) sepia(14%) saturate(463%) hue-rotate(166deg) brightness(93%) contrast(85%);
}

.aux-nav-list-item:hover .aux-nav-img img {
    filter: invert(13%) sepia(6%) saturate(958%) hue-rotate(169deg) brightness(96%) contrast(95%);
}
  
  
html:not(data-theme) .aux-nav-github img, html[data-theme="light"] .aux-nav-github img {
  background-image: url("/bar-lobby/assets/github-mark.svg");
}

html[data-theme="dark"] .aux-nav-github img {
  background-image: url("/bar-lobby/assets/github-mark-white.svg");
}

html .aux-nav-img img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-size: cover;
  height: 32px;
  padding-left: 100%; /* Equal to width of new image */
}