.popper {
    overflow: hidden !important;
    background-color: #0c0c0c !important;
    padding: 8px !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) !important;
    border-radius: 3px !important;
    border-color: rgba(255, 255, 255, 0.07) !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 16px !important;
    z-index: 2 !important;
    transition-duration: 100ms !important;
}
