.options {
    display: inline-flex;
    align-self: flex-start;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    flex-grow: 1;
    &.fullWidth {
        align-self: unset;
        .options__option {
            width: 100%;
        }
    }
    &.top-label {
        flex-direction: column;
        .options__label {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    &__label {
        padding: 3px 7px;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        flex-grow: 1;
    }
    &__list {
        display: inline-flex;
        justify-self: flex-start;
        flex-direction: row;
        gap: 1px;
    }
    &__option {
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 3px 7px;
        color: rgba(255, 255, 255, 0.7);
        width: 100%;
        background: rgba(0, 0, 0, 0.15);
        &:hover:not(.options__option--selected) {
            background: rgba(255, 255, 255, 0.02);
            color: #ccc;
        }
        &:not(:last-child):after {
            position: absolute;
            content: "";
            right: -1px;
            top: 0;
            width: 1px;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
        }
        &--selected {
            background: rgba(255, 255, 255, 0.35);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
            color: #fff;
        }
    }
}