@use "~@/assets/styles/utils";

.view--login {
    .login {
        max-width: 500px;
    }
    .logo{
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
    }
    .login-form {
        width: 450px;
        > .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    .email, .password {
        label {
            font-size: 20px;
        }
        input {
            font-size: 20px;
            padding: 10px;
        }
    }
    .row {
        display: flex;
        gap: 10px;
    }
}