@use "~@/assets/styles/utils";

.view--login {
    .logo{
        will-change: transform, opacity;
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
    }
    .login-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 350px;
        > .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    .row {
        display: flex;
        gap: 10px;
    }
}