.control.select {
    label {
        max-width: 60%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .vue-select {
        position: unset;
        input, .vue-input {
            font-size: inherit;
            box-shadow: none;
            min-height: inherit;
            padding: 0;
            background-color: unset !important;
            border: none !important;
            margin-right: 5px;
            &::placeholder {
                color: #fff;
            }
        }
        &-header {
            flex-direction: row;
        }
        .vue-dropdown {
            z-index: 3;
            background-color: rgba(20, 20, 20, 0.95);
            backdrop-filter: blur(2px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            &-item {
                padding: 5px 10px;
                &:hover, &.highlighted, &.selected {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: #000;
                    text-shadow: none;
                }
            }
        }
    }
}