p {
    font-size: 16px;
    text-transform: initial;
}
i,
em {
    font-style: italic;
}
b,
strong {
    font-weight: 600;
}
ul,
ol {
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding-left: 1em;
    margin: 10px 20px;
}
li {
    display: list-item;
    text-transform: initial;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 18px;
}
.txt-xs {
    font-size: 12px;
}
.txt-sm {
    font-size: 14px;
}
.txt-md {
    font-size: 16px;
}
.txt-lg {
    font-size: 18px;
}
.txt-xl {
    font-size: 20px;
}
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}
