.fullsize {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    content: "";
}

.gap-sm {
    display: flex;
    gap: 5px;
}
.gap-md {
    display: flex;
    gap: 10px;
}
.gap-lg {
    display: flex;
    flex-direction: column;
    gap: 15px;
}