$weightNames: "Thin", "ExtraLight", "Light", "Regular", "Medium", "SemiBold", "Bold", "ExtraBold", "Black";
@for $i from 1 through length($weightNames) {
    $weightName: nth($weightNames, $i);
    @font-face {
        font-family: "Poppins";
        font-weight: $i * 100;
        src: url("~@/assets/fonts/Poppins/Poppins-#{$weightName}.ttf") format("truetype");
    }
    @if $weightName != Regular {
        @font-face {
            font-family: "Poppins";
            font-weight: $i * 100;
            font-style: italic;
            src: url("~@/assets/fonts/Poppins/Poppins-#{$weightName}Italic.ttf") format("truetype");
        }
    }
}

$weightNames: "Light", "Regular", "Medium", "SemiBold", "Bold";
@for $i from 1 through length($weightNames) {
    $weightName: nth($weightNames, $i);
    @font-face {
        font-family: "Rajdhani";
        font-weight: ($i + 2) * 100;
        src: url("~@/assets/fonts/Rajdhani/Rajdhani-#{$weightName}.ttf") format("truetype");
    }
}