html {
    height: 100%;
    background: #000;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Rajdhani, Times, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    cursor: url("~@/assets/images/cursornormal_0.png"), auto;
}
body {
    height: 100%;
}
#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
p {
    user-select: text;
}