$stripe1: rgba(0, 0, 0, 0.3);
$stripe2: rgba(0, 0, 0, 0.1);
$stripeWidth: 4px;

.panel {
    border-radius: 5px;
    border: 2px solid rgba(20, 20, 20, 0.8);
    box-shadow:
        inset 0 10px 15px rgba(255, 255, 255, 0.4),
        inset 0 -10px 15px rgba(255, 255, 255, 0.4),
        inset 0 3px 8px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.8);
    > .content {
        &:before {
            @extend .fullsize;
            background: linear-gradient(rgba(27, 27, 27, 0.5), rgba(24, 24, 24, 0.7));
            z-index: -1;
        }
        &:after {
            background-image: none;
            background: repeating-linear-gradient(
                -45deg,
                $stripe1,
                $stripe1 $stripeWidth,
                $stripe2 $stripeWidth,
                $stripe2 $stripeWidth * 2
            );
        }
    }
}