name: Build

on:
    push:
        tags:
            - "*"
    workflow_dispatch:

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [windows-latest, ubuntu-latest]
                node-version: [22.11.0]

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v4

            - name: Install Node.js, NPM and Yarn
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: npm

            - name: Build Env Information
              run: |
                  node -v
                  npm -v

            - name: Install dependencies
              run: npm ci

            - name: Electron Build & Publish
              run: |
                  npm run package
                  npm run release
              env:
                  NODE_OPTIONS: "--max-old-space-size=8192"
                  GITHUB_TOKEN: ${{ secrets.github_token }}
