# SPDX-FileCopyrightText: 2025 The BAR Lobby Authors
#
# SPDX-License-Identifier: CC0-1.0

name: Tests

on: [push, pull_request]

jobs:
    checks:
        runs-on: ubuntu-latest
        steps:
            - name: Check out Git repository
              uses: actions/checkout@v4

            - name: Install Node.js, NPM and Yarn
              uses: actions/setup-node@v4
              with:
                  node-version: 22.18.0
                  cache: npm

            - name: Build Env Information
              run: |
                  node -v
                  npm -v

            - name: Install dependencies
              run: npm ci

            - name: Format check
              run: npm run format:check

            - name: Type check
              run: npm run typecheck

            - name: Lint check
              run: npm run lint

            - name: Test Vite Build
              run: npm run package

            - name: Run Unit Tests
              run: npm run test

            - name: Run e2e Tests
              run: npm run test:e2e
